* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  transition: all .6; }

:root {
  --white: #eee; }

body {
  min-height: 100vh;
  background: #eee;
  font-family: Helvetica; }

.wrap {
  width: 100%;
  height: auto; }

.header {
  position: relative;
  width: 100%;
  height: 350px;
  background: #555;
  display: flex; }
  .header__img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: .4; }
  .header__title {
    position: relative;
    color: var(--white);
    margin: auto; }

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
