* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  transition: all .6; }

li, ol, ul {
  list-style: none; }

:root {
  --theme: orange;
  --white: #eee; }

body {
  min-height: 100vh;
  background: #eee;
  font-family: Helvetica; }

.wrap {
  width: 100%;
  height: auto; }

.header {
  position: relative;
  width: 100%;
  height: 350px;
  background: #555;
  display: flex; }
  .header__img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: .4; }
  .header__title {
    position: relative;
    color: var(--white);
    margin: auto; }

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.menu {
  position: fixed;
  width: 100%;
  height: 80px;
  background: var(--theme);
  display: flex;
  z-index: 1000; }
  .menu__container {
    margin: auto;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .menu__nav {
    display: inline-flex; }
  .menu__item {
    margin: .5em; }

.main {
  width: 100%;
  height: 200px;
  background: #eee; }

.footer {
  width: 100%;
  height: 150px;
  background: #444;
  display: flex; }
  .footer__copyright {
    margin: auto;
    color: #eee; }
    .footer__copyright span {
      color: var(--theme); }
